.scAppDivMoldura { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #DADADA; border-style: solid; border-width: 1px; padding: 6px; margin: 8px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivHeader { background-color: #65a3b8; opacity: 1; filter: alpha(opacity=100); padding: 5px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivHeaderText { font-family: Arial, sans-serif; font-size: 13px; color: #000; font-weight: bold; text-decoration: none }
.scAppDivContent { background-color: #F6FFFF; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 10px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivContentText { font-family: Arial, sans-serif; font-size: 13px; color: #000000; font-style: css_appdiv_header_text_style; font-weight: normal; text-decoration: none }
.scAppDivToolbar { font-family: Arial, sans-serif; font-size: 13px; color: #000000; font-style: normal; font-weight: normal; text-decoration: none; background-color: #FFF; opacity: 1; filter: alpha(opacity=100); border-style: none; border-width: 0; padding: 2px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivToolbarInput { opacity: 1; filter: alpha(opacity=100); border-color: #8F9F97; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivSelectFields { background-color: #DFF9FF; border-color: #9F9F9F; border-style: dashed; border-width: 1px; border-collapse: collapse; padding: 2px; margin: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivSelectFieldsEnabled { background-color: #A4CBD5; opacity: 1; filter: alpha(opacity=100); border-color: #B4C8CE; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 6px; margin: 4px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivSelectFieldsDisabled { background-color: #BABABA; opacity: 1; filter: alpha(opacity=100); border-color: #E7E7E7; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 6px; margin: 4px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivSelectBoxEnabled { background-color: #86A5AD; opacity: 1; filter: alpha(opacity=100); border-color: #8AC0CE; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 4px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivSelectBoxDisabled { background-color: #DEDEDE; opacity: 1; filter: alpha(opacity=100); border-color: #C4C4C4; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 4px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivSelectFieldsPlaceholder { background-color: #D4EFF6; opacity: 1; filter: alpha(opacity=100); border-color: #69A9B9; border-style: dashed; border-width: 1px; padding: 6px; margin: 4px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scAppDivTabLine { background-color: #F3FFFD; opacity: 1; filter: alpha(opacity=100); border-color: #c3c3c3; border-style: solid; border-width: 0 0 1px 0; width: 100%; margin: 0; padding: 20px 0 2px 0; list-style-type: none }
