.scContainerPage { background-color: #D9EAF0; background-repeat: no-repeat; opacity: 1; filter: alpha(opacity=100) }
.scContainerHeader { background-color: #65a3b8; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scContainerHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 2px; text-decoration: none; vertical-align: middle }
.scContainerFooter { background-color: #65a3b8; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scContainerFooterFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 2px; text-decoration: none; vertical-align: middle }
.scContainerWidget { background-color: #92B4C9; opacity: 1; filter: alpha(opacity=100); border-color: #DADADA; border-style: solid; border-width: 1px; margin: 10px 10px; -moz-box-shadow: #000; box-shadow: 0px 2px 10px -2px; -webkit-box-shadow: #000; box-shadow: 0px 2px 10px -2px; box-shadow: #000; box-shadow: 0px 2px 10px -2px }
.scContainerMaximized { background-color: #92B4C9; opacity: 1; filter: alpha(opacity=100); border-color: #DADADA; border-style: solid; border-width: 1px; -moz-box-shadow: #000; box-shadow: 0px 2px 10px -2px; -webkit-box-shadow: #000; box-shadow: 0px 2px 10px -2px; box-shadow: #000; box-shadow: 0px 2px 10px -2px }
.scContainerTitle { color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 20px; font-weight: normal; padding: 10px 5px 10px 5px;px Height:20px; text-decoration: none }
.widget-placeholder { border-color: #AED0E4; border-style: solid; border-width: 1px; margin: 10px 10px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.widget-head a.remove { background-image: url(../../img/scriptcase__NM__widget_buttons.gif); background-repeat: no-repeat; background-position: -24px }
.widget-head a.collapse { background-image: url(../../img/scriptcase__NM__widget_buttons.gif); background-repeat: no-repeat; background-position: -52px }
