.scExportPage { background-color: #D9EAF0; opacity: 1; filter: alpha(opacity=100) }
.scExportTable { background-color: #ffffff; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px; height: 100px; width: 410px }
.scExportTitle { background-color: #80CDD0; background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100); border-color: #A3C6C7; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; font-weight: normal; padding: 0; text-decoration: none }
.scExportLine { background-color: #fff; opacity: 1; filter: alpha(opacity=100); padding: 3px 10px 3px 10px; vertical-align: middle }
.scExportLineFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; font-weight: normal; text-decoration: none }
.scExportBar { border-collapse: collapse; height: 20px }
.scExportBarRest { background-color: #D2E3E4; opacity: 1; filter: alpha(opacity=100); border-color: #4e4e4e #aaa #aaa #4e4e4e; border-style: none; border-width: 1px; padding: 0 }
.scExportBarDone { background-color: #80CDD0; opacity: 1; filter: alpha(opacity=100); border-color: #aaa #4e4e4e #4e4e4e #aaa; border-style: solid; border-width: 1px; padding: 0 }
