.scGridPage { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px }
.scGridBorder { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px; padding: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-box-shadow: #000; box-shadow: 0px 2px 10px -2px; -webkit-box-shadow: #000; box-shadow: 0px 2px 10px -2px; box-shadow: #000; box-shadow: 0px 2px 10px -2px }
.scGridPageLink { color: #000000; text-decoration: none }
.scGridToolbarNav { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 15px; text-shadow: 12px; text-decoration: none; border-color: #000000; padding: 4px 6px 4px 6px }
.scGridToolbarNavOpen { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 15px; text-shadow: 12px; text-decoration: none; border-color: #000000; border-style: solid; border-width: 1px; padding: 4px 6px 4px 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scGridToolbar { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; text-decoration: none; border-color: #000000; border-style: none; border-width: 0; padding: 5px 10px 5px 10px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridToolbarPadding { padding: 5px 10px 5px 10px }
.css_toolbar_obj { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 4px 4px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.css_toolbar_objWm { color: #000000 }
.scGridHeader { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridHeaderFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px; text-decoration: none; vertical-align: middle }
.scGridFooter { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridFooterFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px; text-decoration: none; vertical-align: middle }
.scGridObjectOdd { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridBlockBg { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-width: 1px 0 1px 0; border-style: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border-top-color: #d1e1e6; border-bottom-color: #d1e1e6; border-left-color: #d1e1e6 }
.scGridBlockLineBg { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF; border-width: 1px 0 1px 0; border-style: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridBlockSpaceBg { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-width: 1px 0 1px 0; border-style: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border-left-color: #d1e1e6; border-right-color: #d1e1e6 }
.scGridBlock { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-width: 1px 0 1px 0; border-style: none; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 6px 14px 6px 14px; text-decoration: none; vertical-align: middle; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridBlockFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridBlockLink { color: #000000; text-decoration: underline }
.scGridBlockAlign { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridTotal { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: none; border-width: 1px 0 }
.scGridTotalFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 3px 15px; text-decoration: none }
.scGridSubtotal { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: none; border-width: 1px 0 }
.scGridSubtotalFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none }
.scGridFieldEven { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100) }
.scGridFieldEvenFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none; border-color: #000000; border-style: none; border-width: 1px 1px 1px 1px }
.scGridFieldEvenVert { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: none; border-width: 1px 1px 1px 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none }
.scGridFieldEvenLink { color: #000000; text-decoration: underline }
.scGridFieldOdd { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100) }
.scGridFieldOddFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none; border-color: #000000; border-style: none; border-width: 1px 1px 1px 1px }
.scGridFieldOddVert { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: none; border-width: 1px 1px 1px 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none }
.scGridFieldOddLink { color: #000000; text-decoration: underline }
.scGridFieldClick { background-color: #FFFFFF; border-color: #000000; border-style: none; border-width: 1px 1px 1px 1px }
.scGridFieldOver { background-color: #FFFFFF }
.scGridLabel { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100) }
.scGridLabelVert { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: none; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 7px 15px 7px 15px; text-decoration: none; vertical-align: middle }
.scGridLabelFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 7px 15px 7px 15px; text-decoration: none; vertical-align: middle; border-color: #000000; border-style: none; border-width: 1px }
.scGridLabelLink { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scGridTabela { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #000000; border-style: none; border-width: 1px 1px 1px 1px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridTabelaTd { padding: 0 }
.TB_overlayBG { background-color: #FFFFFF }
#TB_window { border-color: #000000; border-style: solid; border-width: 1px 1px 2px 1px }
.scBtnPassField { margin: 5px 2px }
