.scGridPage { background-color: #D9EAF0; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px }
.scGridBorder { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-color: #DADADA; border-style: solid; border-width: 1px; padding: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-box-shadow: #000; box-shadow: 0px 2px 10px -2px; -webkit-box-shadow: #000; box-shadow: 0px 2px 10px -2px; box-shadow: #000; box-shadow: 0px 2px 10px -2px }
.scGridPageLink { color: #000000; text-decoration: none }
.scGridToolbarNav { background-color: #ffffff; opacity: 1; filter: alpha(opacity=100); color: #000; font-family: Arial, sans-serif; font-size: 15px; text-shadow: 12px; text-decoration: none; padding: 4px 6px 4px 6px }
.scGridToolbarNavOpen { background-color: #7BAFCD; opacity: 1; filter: alpha(opacity=100); color: #FFFFFF; font-family: Arial, sans-serif; font-size: 15px; text-shadow: 12px; text-decoration: none; border-color: #ececec; border-style: solid; border-width: 1px; padding: 4px 6px 4px 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scGridToolbar { background-color: #FFF; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; text-decoration: none; border-style: none; border-width: 0; padding: 5px 10px 5px 10px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridToolbarPadding { padding: 5px 10px 5px 10px }
.css_toolbar_obj { opacity: 1; filter: alpha(opacity=100); border-color: #8F9F97; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 4px 4px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.css_toolbar_objWm { color: #D4CACA }
.scGridHeader { background-color: #65a3b8; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px; text-decoration: none; vertical-align: middle }
.scGridFooter { background-color: #65a3b8; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridFooterFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px; text-decoration: none; vertical-align: middle }
.scGridObjectOdd { opacity: 1; filter: alpha(opacity=100); border-color: #8F9F97; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridBlockBg { background-color: #d1e1e6; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6E3; border-width: 1px 0 1px 0; border-style: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border-top-color: #d1e1e6; border-bottom-color: #d1e1e6; border-left-color: #d1e1e6 }
.scGridBlockLineBg { background-color: #d1e1e6; opacity: 1; filter: alpha(opacity=100); border-color: #d1e1e6; border-width: 1px 0 1px 0; border-style: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridBlockSpaceBg { background-color: #d1e1e6; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6E3; border-width: 1px 0 1px 0; border-style: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border-left-color: #d1e1e6; border-right-color: #d1e1e6 }
.scGridBlock { background-color: #d1e1e6; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6E3; border-width: 1px 0 1px 0; border-style: none; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 6px 14px 6px 14px; text-decoration: none; vertical-align: middle; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridBlockFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridBlockLink { color: #000; text-decoration: underline }
.scGridBlockAlign { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridTotal { background-color: #DFF1F5; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: none; border-width: 1px 0 }
.scGridTotalFont { color: #4D4D4D; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 3px 15px; text-decoration: none }
.scGridSubtotal { background-color: #F9F9F9; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: none; border-width: 1px 0 }
.scGridSubtotalFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none }
.scGridFieldEven { background-color: #ffffff; opacity: 1; filter: alpha(opacity=100) }
.scGridFieldEvenFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none; border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px }
.scGridFieldEvenVert { background-color: #ffffff; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none }
.scGridFieldEvenLink { color: #5F86CA; text-decoration: underline }
.scGridFieldOdd { background-color: #F9F9F9; opacity: 1; filter: alpha(opacity=100) }
.scGridFieldOddFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none; border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px }
.scGridFieldOddVert { background-color: #F9F9F9; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; padding: 2px 15px; text-decoration: none }
.scGridFieldOddLink { color: #5F86CA; text-decoration: underline }
.scGridFieldClick { background-color: #EEF5F2; border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px }
.scGridFieldOver { background-color: #F3F3F3 }
.scGridLabel { background-color: #DFF1F5; opacity: 1; filter: alpha(opacity=100) }
.scGridLabelVert { background-color: #DFF1F5; opacity: 1; filter: alpha(opacity=100); border-color: #CCC #F2FCF7#CCC #F2FCF7; border-style: none; border-width: 1px; color: #4D4D4D; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 7px 15px 7px 15px; text-decoration: none; vertical-align: middle }
.scGridLabelFont { color: #4D4D4D; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 7px 15px 7px 15px; text-decoration: none; vertical-align: middle; border-color: #CCC #F2FCF7#CCC #F2FCF7; border-style: none; border-width: 1px }
.scGridLabelLink { color: #4D4D4D; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scGridTabela { background-color: #ffffff; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scGridTabelaTd { padding: 0 }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px }
.scBtnPassField { margin: 5px 2px }
