.scButton_default { font-family: Tahoma, Arial, sans-serif; font-size: 13px; color: #FFFFFF; font-weight: normal; background-color: #96281B; border-color: #96281B; border-style: solid; border-width: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 8px 10px; cursor: pointer; text-shadow: ;transition: all 0.5s;-o-transition: all 0.5s;-ms-transition: all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-webkit-backface-visibility: hidden;-webkit-transition: background-color linear 0.2s; text-decoration: none;  }
.scButton_onmouseover { font-family: Tahoma, Arial, sans-serif; font-size: 13px; color: #FFFFFF; font-weight: normal; background-color: #b0281a; border-color: #b0281a; border-style: solid; border-width: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 8px 10px; cursor: pointer; text-decoration: none;  }
.scButton_onmousedown { font-family: Tahoma, Arial, sans-serif; font-size: 13px; color: #FFFFFF; font-weight: normal; background-color: #940808; border-color: #940808; border-style: solid; border-width: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 8px 10px; cursor: pointer; text-decoration: none;  }
.scButton_disabled { font-family: Tahoma, Arial, sans-serif; font-size: 13px; color: #c9c9c9; font-weight: normal; background-color: #FFFFFF; border-color: #c9c9c9; border-style: solid; border-width: 1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 8px 10px; cursor: default; text-decoration: none;  }
.scLink_default { text-decoration: underline; font-size: 12px; color: #0000AA;  }
.scLink_default:visited { text-decoration: underline; font-size: 12px; color: #0000AA;  }
.scLink_default:active { text-decoration: underline; font-size: 12px; color: #0000AA;  }
.scLink_default:hover { text-decoration: none; font-size: 12px; color: #0000AA;  }
