.scMenuTTable { background-color: #f8f8f8; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 0; border-color: #d0d0d0 }
.scMenuTTableM { margin: 10px 2px 10px 2px }
.scMenuIframe { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 0; border-color: #FFFFFF; border-collapse: collapse; width: 100%; height: 100% }
.scMenuTHeader { background-color: #16a085; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scMenuTHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 4px; text-decoration: none }
.scMenuTFooter { background-color: #f5f5f5; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scMenuTFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scMenuTItems { font-family: Arial, sans-serif; font-size: 13px; color: #333; opacity: 1; filter: alpha(opacity=100); font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItem { font-family: Arial, sans-serif; font-size: 13px; color: #333; opacity: 1; filter: alpha(opacity=100); font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItemSel { color: #333 }
.scMenuTItemDisabled { color: #C0C0C0 }
.scMenuTSubItemDisabled { color: #C0C0C0 }
.a.phplm:hover { color: #333 }
.a.phplm:active { color: #333 }
.jstree-default .jstree-hovered, .jstree-default .jstree-wholerow-hovered { background-color: #e7f4f9; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.jstree-default .jstree-hovered span, .jstree-default .jstree-hovered a, .jstree-default .jstree-wholerow-hovered span, .jstree-default .jstree-wholerow-hovered a { text-decoration: none }
.jstree-default .jstree-clicked, .jstree-default .jstree-wholerow-clicked { background-color: #beebff; opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.jstree-default .jstree-clicked span, .jstree-default .jstree-clicked a, .jstree-default .jstree-wholerow-clicked span, .jstree-default .jstree-wholerow-clicked a { text-decoration: none }
