.scProgressBarStart { background-color: #dfdfdf; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #4e4e4e #aaa #aaa #4e4e4e; border-style: solid; border-width: 1px }
.scProgressBarLoading { background-color: #ededed; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #aaa #4e4e4e #4e4e4e #aaa; border-style: solid; border-width: 1px }
