.scMenuLine { opacity: 1; filter: alpha(opacity=100) }
.scMenuToolbar { background-color: #F3F7FB; opacity: 1; filter: alpha(opacity=100); padding: 2px; margin: 0 }
.scMenuToolbarPadding { padding: 2px }
.scMenuIframe { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-width: 0; width: 100%; height: 100% }
.scMenuHTable { opacity: 1; filter: alpha(opacity=100) }
.scMenuHTableCss { background-color: #fff; opacity: 1; filter: alpha(opacity=100) }
.scMenuHHeader { background-color: #2574A9; opacity: 1; filter: alpha(opacity=100) }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0; text-decoration: none }
.scMenuHFooter { background-color: #f5f5f5; opacity: 1; filter: alpha(opacity=100) }
.scMenuHFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scMenuHItem { opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; color: #000000; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHItemDisabled { opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; color: #C0C0C0; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHItemOver { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; color: #000000; padding: 3px 10px 3px 3px;; text-decoration: none; font-style: normal }
.scMenuHSubItem { background-color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; color: #000000; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemDisabled { background-color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; color: #C0C0C0; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemOver { background-color: #F3F7FB; font-family: Arial, sans-serif; font-size: 13px; color: #000000; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
