.scMenuHHeader { background-color: #2574A9; opacity: 1; filter: alpha(opacity=100) }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; text-shadow: none; font-weight: bold; padding: 0; text-decoration: none }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-bar-b { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0; text-decoration: none; background-color: #2574A9; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-btn-up-a { background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; text-shadow: none; color: #000000; text-decoration: none; font-style: normal }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #000000 }
.ui-btn-hover-a { background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; text-shadow: none; color: #000000; text-decoration: none; font-style: normal }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: #000000; background-color: #FFFFFF }
