.scContainerPage { background-color: #FFFFFF; background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100) }
.scContainerHeader { background-color: #2574A9; opacity: 1; filter: alpha(opacity=100) }
.scContainerHeaderFont { color: #fff; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scContainerFooter { background-color: #f5f5f5; opacity: 1; filter: alpha(opacity=100) }
.scContainerFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scContainerWidget { background-color: #2574A9; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: solid; border-width: 1px; margin: 10px 5px }
.scContainerMaximized { background-color: #2574A9; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: solid; border-width: 1px }
.scContainerTitle { color: #fff; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 20px; padding: 3px;px Height:20px; text-decoration: none }
.widget-placeholder { border-color: #d0d0d0; border-style: dashed; border-width: 2px; margin: 10px 5px }
.widget-head a.remove { background-image: url(../../img/scriptcase__NM__widget_buttons.gif); background-repeat: no-repeat; background-position: -24px }
.widget-head a.collapse { background-image: url(../../img/scriptcase__NM__widget_buttons.gif); background-repeat: no-repeat; background-position: -52px }
