.scMenuTTable { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-style: none; border-width: 1px 1px 1px 1px; border-color: #D2D2D2; border-collapse: collapse }
.scMenuTTableM { margin: 10px 2px 10px 2px }
.scMenuIframe { opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 0; border-color: #666666; border-collapse: collapse; width: 100%; height: 100% }
.scMenuTHeader { background-color: #B6D4C5; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scMenuTHeaderFont { color: #181818; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0; text-decoration: none }
.scMenuTFooter { background-color: #B6D4C5; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scMenuTFooterFont { color: #181818; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scMenuTItems { font-family: Arial, sans-serif; font-size: 13px; color: #1919C0; opacity: 1; filter: alpha(opacity=100); font-style: normal; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; white-space: nowrap }
.scMenuTItem { font-family: Arial, sans-serif; font-size: 13px; color: #F71717; opacity: 1; filter: alpha(opacity=100); font-style: normal; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; white-space: nowrap }
.scMenuTItemSel { background-color: #ffffff; color: #000000 }
.scMenuTItemDisabled { color: #C0C0C0 }
.scMenuTSubItemDisabled { color: #C0C0C0 }
.a.phplm:hover { background-color: #ffffff; color: #000000 }
.a.phplm:active { background-color: #ffffff; color: #000000 }
.jstree-default .jstree-hovered, .jstree-default .jstree-wholerow-hovered { background-color: #00FF00; opacity: 1; filter: alpha(opacity=100); color: #00FF00; text-decoration: none }
.jstree-default .jstree-hovered span, .jstree-default .jstree-hovered a, .jstree-default .jstree-wholerow-hovered span, .jstree-default .jstree-wholerow-hovered a { color: #00FF00; text-decoration: none }
.jstree-default .jstree-clicked, .jstree-default .jstree-wholerow-clicked { background-color: #0007CB; opacity: 1; filter: alpha(opacity=100); color: #0007CB; text-decoration: none }
.jstree-default .jstree-clicked span, .jstree-default .jstree-clicked a, .jstree-default .jstree-wholerow-clicked span, .jstree-default .jstree-wholerow-clicked a { color: #0007CB; text-decoration: none }
