.scMenuHHeader { background-color: #B6D4C5; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scMenuHHeaderFont { color: #181818; font-family: Arial, sans-serif; font-size: 13px; text-shadow: none; font-weight: bold; padding: 0; text-decoration: none }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-color: #FFF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-bar-b { color: #181818; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0; text-decoration: none; background-color: #B6D4C5; background-image: none; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.ui-btn-up-a { background-color: #52BD89; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; text-shadow: none; color: #FFF; text-decoration: none; font-weight: bold; font-style: normal }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #FFF }
.ui-btn-hover-a { background-color: #52BD89; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; text-shadow: none; color: #FFF; text-decoration: none; font-weight: bold; font-style: normal }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: #3C3C3C; background-color: #FFFFFF }
