.scFormPage { background-color: #3D3D3F; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; margin: 20px 0 20px 0; text-decoration: none }
.scFormBorder { background-color: #F9FAFB; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px }
.scFormPageText { color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormHeader { opacity: 1; filter: alpha(opacity=100) }
.scFormHeaderFont { color: #96281B; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormFooter { opacity: 1; filter: alpha(opacity=100) }
.scFormFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormToolbarNav { opacity: 1; filter: alpha(opacity=100); color: #333; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; text-decoration: none; padding: 4px 6px 4px 6px }
.scFormToolbarNavOpen { background-color: #fff; opacity: 1; filter: alpha(opacity=100); color: #D24D57; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; text-decoration: none; border-color: #D24D57; border-style: solid; border-width: 1px; padding: 4px 6px 4px 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scFormToolbar { opacity: 1; filter: alpha(opacity=100); padding: 5px 10px 5px 10px; border-style: none; border-width: 0 }
.scFormToolbarPadding { padding: 5px 10px 5px 10px }
.scFormToolbarInput { opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 8px; text-decoration: none }
.scFormToolbarInputWm { color: #D4CACA }
.scFormTable { background-color: #f8f8f8; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px }
.scFormTableTd { padding: 0 }
.scFormLabelLink { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormLabelOdd { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-color: #990000; border-width: 0; color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 6px 4px; text-decoration: none; vertical-align: middle }
.scFormLabelOddMult { background-color: #D24D57; border-color: #D24D57; border-style: solid; border-width: 1px; color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 8px 10px; text-decoration: none; vertical-align: middle }
.scFormLabelOddFormat { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormLabelOddFormatMult { color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormRequiredOdd { color: #d54242; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormRequiredOddMult { color: #333; font-family: Arial; font-size: 13px }
.scFormRequiredOddColor { color: #d54242; font-family: Arial; font-size: 12px }
.scFormRequiredOddColorMult { color: #333; font-family: Arial; font-size: 13px }
.scFormObjectOdd { opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 10px; text-decoration: none; vertical-align: middle }
.scFormObjectOddMult { opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 10px; text-decoration: none }
.scFormObjectFocusOdd { background-color: #FFFFD9; opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: solid; border-width: 1px; color: #333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 10px; text-decoration: none; vertical-align: middle }
.scFormObjectFocusOddMult { background-color: #FFFFD9; opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: solid; border-width: 1px; color: #333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 10px; text-decoration: none }
.scFormDataOdd { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 4px; text-decoration: none }
.scFormDataOddMult { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px 1px 1px 1px; color: #333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 4px; text-decoration: none }
.scFormDataFontOdd { color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormDataFontOddMult { color: #333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormLinkOdd { color: #000000; text-decoration: underline }
.scFormLinkOddMult { color: #333333; text-decoration: underline }
.scFormLabelLinkOdd { text-decoration: none }
.scFormLabelLinkOddMult { color: #FFFFFF; text-decoration: none }
.scFormInputError { background-color: #ffaaaa; opacity: 1; filter: alpha(opacity=100); color: #333 }
.scFormInputErrorMult { background-color: #ffaaaa; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.scFormInputDisabled { background-color: #CCCCCC; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.scFormInputDisabledMult { background-color: #CCCCCC; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.scFormDataDragNDrop { background-color: #F9E0DC; opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: dashed; border-width: 1px; color: #444444; font-family: Arial, sans-serif; font-size: 13px; padding: 25px; text-decoration: none; margin: 15px 4px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px }
.scFormMessageTable { background-color: #F9EDBE; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #F0C36D; border-style: solid; border-width: 1px 1px 1px 1px; height: 40px; width: 280px }
.scFormMessageTitle { opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 3px; text-decoration: none }
.scFormMessageTitleFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormMessageMessage { opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #555555; font-family: Arial, sans-serif; font-size: 13px; padding: 3px; text-decoration: none }
.scFormMessageMessageFont { color: #555555; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormErrorTable { background-color: #F9EDBE; opacity: 1; filter: alpha(opacity=100); border-color: #F0C36D; border-style: solid; border-width: 1px 1px 1px 1px; height: 30px; width: 320px }
.scFormErrorTitle { opacity: 1; filter: alpha(opacity=100); border-style: none; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px 3px 1px 3px; text-decoration: none; vertical-align: middle }
.scFormErrorTitleFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormErrorMessage { opacity: 1; filter: alpha(opacity=100); color: #555555; font-family: Arial, sans-serif; font-size: 13px; padding: 1px 3px 5px 3px; text-decoration: none }
.scFormErrorMessageFont { color: #555555; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormErrorLine { opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; padding: 4px 4px 4px 10px; spacing: 0; text-decoration: none }
.scFormFieldErrorTable { background-color: #fff; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #d0d0d0; border-style: solid; border-width: 0; -moz-border-radius: css_fielderror_radius; -webkit-border-radius: css_fielderror_radius; border-radius: css_fielderror_radius }
.scFormFieldErrorMessage { opacity: 1; filter: alpha(opacity=100); color: #d54242; font-family: Arial, sans-serif; font-size: 13px; padding: 2px 4px 2px 4px; text-decoration: none; vertical-align: middle }
.scFormBlock { background-color: #e7e7e7; opacity: 1; filter: alpha(opacity=100); border-color: #e7e7e7; border-style: solid; border-width: 1px; color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 10px; text-decoration: none; vertical-align: middle }
.scFormBlockFont { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormBlockAlign { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormProcess { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold }
.scFormProcessFixed { background-color: #FFFFFF; border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px; height: 26px; padding-top: 13px; position: absolute; text-align: center; width: 350px }
.scFormHelpPage { background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; text-decoration: none }
.scFormPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFormPopupCorner { height: 15px; width: 19px }
.scFormPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFormPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFormPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFormPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFormPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFormPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFormPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFormPopupBottom img { display: block; margin: 0 auto }
.scFormPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFormPopupContent { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; font-style: normal; text-decoration: none }
.scButtonMultiUploadSend { float: left }
.scButtonMultiUploadSend:hover { cursor: pointer }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px }
.scFormACTable { border-collapse: collapse; border-color: #BBBBBB #A4ADC2 #A4ADC2 #BBBBBB; border-style: solid; border-width: 1px 2px 2px 1px }
.scFormACTitle { background-color: #f5f5f5; opacity: 1; filter: alpha(opacity=100); border-color: #AAA #AAA #777777 #AAA; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; padding: 2px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #EAEDF2; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ac_over { background-color: #8DA0C8; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ui-dropdownchecklist-text { color: #333333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.ui-dropdownchecklist-selector { opacity: 1; filter: alpha(opacity=100); color: #333333; font-family: Arial, sans-serif; font-size: 13px }
.ui-dropdownchecklist-dropcontainer { opacity: 1; filter: alpha(opacity=100); color: #333333; font-family: Arial, sans-serif; font-size: 13px }
.scBtnPassField { margin: 5px 2px }
