.scAppDivMoldura { background-color: #F9E0DC; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #F9B6AB; border-style: solid; border-width: 1px; padding: 6px; margin: 8px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px }
.scAppDivHeader { opacity: 1; filter: alpha(opacity=100) }
.scAppDivHeaderText { font-family: Arial, sans-serif; font-size: 13px; color: #000; font-weight: bold; text-decoration: none }
.scAppDivContent { opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 10px }
.scAppDivContentText { font-family: Arial, sans-serif; font-size: 13px; color: #000; font-style: css_appdiv_header_text_style; text-decoration: none; vertical-align: middle }
.scAppDivToolbar { font-family: Arial, sans-serif; font-size: 13px; color: #000; font-style: normal; text-decoration: none; vertical-align: middle; opacity: 1; filter: alpha(opacity=100); border-color: #F9B6AB; padding: 2px }
.scAppDivToolbarInput { background-color: #FFEFED; opacity: 1; filter: alpha(opacity=100); border-color: #F9B6AB; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 2px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectFields { background-color: #ffffff; border-color: #96281B; border-style: dashed; border-width: 1px; border-collapse: collapse; padding: 2px; margin: 0; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px }
.scAppDivSelectFieldsEnabled { background-color: #F9E0DC; opacity: 1; filter: alpha(opacity=100); border-color: #96281B; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 6px; margin: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectFieldsDisabled { background-color: #E8E4E4; opacity: 1; filter: alpha(opacity=100); border-color: #9B9B9E; border-style: solid; border-width: 1px; color: #AAB1BD; font-family: Arial, sans-serif; font-size: 13px; padding: 6px; margin: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectBoxEnabled { background-color: #F9E0DC; opacity: 1; filter: alpha(opacity=100); border-color: #D5BB34; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 11px; padding: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectBoxDisabled { background-color: #EEEDE3; opacity: 1; filter: alpha(opacity=100); border-color: #8b8a7F; border-style: solid; border-width: 1px; color: #B4B4B4; font-family: Arial, sans-serif; font-size: 11px; padding: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectFieldsPlaceholder { background-color: #FFEFED; opacity: 1; filter: alpha(opacity=100); border-color: 96281B; border-style: dashed; border-width: 1px; padding: 6px; margin: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px }
.scAppDivTabLine { opacity: 1; filter: alpha(opacity=100); border-color: #c3c3c3; border-style: solid; border-width: 0 0 1px 0; width: 100%; margin: 0; padding: 20px 0 2px 0; list-style-type: none }
