.scFilterPage { background-color: #3D3D3F; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; margin: 20px 0 20px 0; text-decoration: none }
.scFilterBorder { background-color: #f5f5f5; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0 }
.scFilterTable { background-color: #f5f5f5; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #d0d0d0; border-style: solid; border-width: 0 }
.scFilterTableTd { padding: 0 }
.scFilterToolbar { opacity: 1; filter: alpha(opacity=100); border-style: none; border-width: 0; padding: 5px 10px 5px 10px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFilterToolbarPadding { padding: 5px 10px 5px 10px }
.scFilterToolbar_obj { opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 8px; text-decoration: none }
.scFilterHeader { opacity: 1; filter: alpha(opacity=100) }
.scFilterHeaderFont { color: #96281B; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterFooter { opacity: 1; filter: alpha(opacity=100) }
.scFilterFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterBlock { background-color: #e7e7e7; opacity: 1; filter: alpha(opacity=100); border-color: #e7e7e7; border-style: solid; border-width: 1px; color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px 4px; text-decoration: none; vertical-align: middle }
.scFilterBlockBack { background-color: #e7e7e7; opacity: 1; filter: alpha(opacity=100); border-color: #e7e7e7; border-style: solid; border-width: 1px; padding: 5px 4px }
.scFilterBlockFont { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFilterBlockAlign { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterLabelOdd { background-color: #F5F5F5; opacity: 1; filter: alpha(opacity=100); color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 6px 8px; text-decoration: none; vertical-align: middle }
.scFilterLabelEven { background-color: #F5F5F5; opacity: 1; filter: alpha(opacity=100); color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 6px 8px; text-decoration: none; vertical-align: middle }
.scFilterFieldOdd { background-color: #F5F5F5; opacity: 1; filter: alpha(opacity=100); border-color: #d0d0d0; border-style: solid; border-width: 0; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 4px 4px 4px 10px; text-decoration: none; vertical-align: top }
.scFilterDataFontOdd { color: #000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFilterFieldFontOdd { color: #000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFilterFieldEven { background-color: #F5F5F5; opacity: 1; filter: alpha(opacity=100); border-color: #d0d0d0; border-style: solid; border-width: 0; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 4px 4px 4px 10px; text-decoration: none; vertical-align: top }
.scFilterFieldFontEven { color: #000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFilterObjectOdd { opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px; text-decoration: none; vertical-align: middle; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px }
.scFilterObjectEven { opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 6px; text-decoration: none; vertical-align: middle }
.scFilterACTable { border-collapse: collapse; border-color: #BBBBBB #A4ADC2 #A4ADC2 #BBBBBB; border-style: solid; border-width: 1px 2px 2px 1px; -moz-box-shadow: css_filter_moldurapagina_box_shadow; -webkit-box-shadow: css_filter_moldurapagina_box_shadow; box-shadow: css_filter_moldurapagina_box_shadow }
.scFilterACTitle { background-color: #f5f5f5; opacity: 1; filter: alpha(opacity=100); border-color: #AAA #AAA #777777 #AAA; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; padding: 2px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #EAEDF2; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ac_over { background-color: #8DA0C8; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.scFilterPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFilterPopupCorner { height: 15px; width: 19px }
.scFilterPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFilterPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFilterPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFilterPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFilterPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFilterPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFilterPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFilterPopupBottom img { display: block; margin: 0 auto }
.scFilterPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFilterPopupContent { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; font-style: normal; text-decoration: none }
.scFilterRequiredOdd { color: #666666; font-family: Arial; font-size: 13px; text-shadow: 16px; font-weight: bold }
.scFilterRequiredEven { color: #666666; font-family: Arial; font-size: 12px; text-shadow: 16px; font-weight: bold }
.scBtnPassField { margin: 5px 2px }
