.scGridPage { background-color: #3D3D3F; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; margin: 20px 0 20px 0; font-size: 13px }
.scGridBorder { background-color: #F9F9F9; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: solid; border-width: 1px; border-collapse: collapse }
.scGridPageLink { color: #000000; text-decoration: underline }
.scGridToolbarNav { opacity: 1; filter: alpha(opacity=100); color: #333; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; text-decoration: none; padding: 4px 6px 4px 6px }
.scGridToolbarNavOpen { background-color: #fff; opacity: 1; filter: alpha(opacity=100); color: #D24D57; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; font-weight: bold; text-decoration: none; border-color: #D24D57; border-style: solid; border-width: 1px; padding: 4px 6px 4px 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scGridToolbar { opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; border-style: none; border-width: 0; padding: 5px 10px 5px 10px }
.scGridToolbarPadding { padding: 5px 10px 5px 10px }
.css_toolbar_obj { opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 6px; text-decoration: none }
.css_toolbar_objWm { color: #D4CACA }
.scGridHeader { opacity: 1; filter: alpha(opacity=100) }
.scGridHeaderFont { color: #96281B; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridFooter { opacity: 1; filter: alpha(opacity=100) }
.scGridFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridObjectOdd { opacity: 1; filter: alpha(opacity=100); border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scGridBlockBg { background-color: #e7e7e7; opacity: 1; filter: alpha(opacity=100); border-color: #d2d2d2; border-width: 1px; border-style: solid; border-top-color: #e7e7e7; border-bottom-color: #e7e7e7; border-left-color: #e7e7e7 }
.scGridBlockLineBg { background-color: #e7e7e7; opacity: 1; filter: alpha(opacity=100); border-color: #e7e7e7; border-width: 1px; border-style: solid }
.scGridBlockSpaceBg { background-color: #e7e7e7; opacity: 1; filter: alpha(opacity=100); border-color: #d2d2d2; border-width: 1px; border-style: solid; border-left-color: #e7e7e7; border-right-color: #e7e7e7 }
.scGridBlock { background-color: #e7e7e7; opacity: 1; filter: alpha(opacity=100); border-color: #d2d2d2; border-width: 1px; border-style: solid; color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px 4px; text-decoration: none }
.scGridBlockFont { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridBlockLink { color: #333; text-decoration: underline }
.scGridBlockAlign { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridTotal { background-color: #F5F2D4; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: solid; border-width: 1px }
.scGridTotalFont { color: #333; font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; padding: 8px 10px; text-decoration: none }
.scGridSubtotal { background-color: #F5F2D4; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: solid; border-width: 1px 0 }
.scGridSubtotalFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 8px 10px; text-decoration: none }
.scGridFieldEven { background-color: #F9F9F9; opacity: 1; filter: alpha(opacity=100) }
.scGridFieldEvenFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 10px; text-decoration: none; border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px }
.scGridFieldEvenVert { background-color: #F9F9F9; opacity: 1; filter: alpha(opacity=100); border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 10px; text-decoration: none }
.scGridFieldEvenLink { color: #384D76; text-decoration: none }
.scGridFieldOdd { background-color: #fff; opacity: 1; filter: alpha(opacity=100) }
.scGridFieldOddFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 10px; text-decoration: none; border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px }
.scGridFieldOddVert { background-color: #fff; opacity: 1; filter: alpha(opacity=100); border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 10px; text-decoration: none }
.scGridFieldOddLink { color: #384D76; text-decoration: none }
.scGridFieldClick { background-color: #F9E0DC; border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px }
.scGridFieldOver { background-color: #F9E0DC }
.scGridLabel { background-color: #D24D57; opacity: 1; filter: alpha(opacity=100) }
.scGridLabelVert { background-color: #D24D57; opacity: 1; filter: alpha(opacity=100); border-color: #d14836; border-style: solid; border-width: 0 0 0 0; color: #fff; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 10px 5px; text-decoration: none; vertical-align: middle }
.scGridLabelFont { color: #fff; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 10px 5px; text-decoration: none; vertical-align: middle; border-color: #d14836; border-style: solid; border-width: 0 0 0 0 }
.scGridLabelLink { color: #fff; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scGridTabela { background-color: #F9F9F9; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #DCDCDC; border-style: solid; border-width: 1px }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px }
.scBtnPassField { margin: 5px 2px }
