.scGridPage { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; margin: 20px 0 20px 0; font-size: 13px }
.scGridBorder { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px; border-collapse: collapse }
.scGridPageLink { color: #000000; text-decoration: underline }
.scGridToolbarNav { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; text-decoration: none; border-color: #000000; padding: 4px 6px 4px 6px }
.scGridToolbarNavOpen { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; font-weight: bold; text-decoration: none; border-color: #000000; border-style: solid; border-width: 1px; padding: 4px 6px 4px 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scGridToolbar { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; border-color: #000000; border-style: none; border-width: 0; padding: 5px 10px 5px 10px }
.scGridToolbarPadding { padding: 5px 10px 5px 10px }
.css_toolbar_obj { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 6px; text-decoration: none }
.css_toolbar_objWm { color: #000000 }
.scGridHeader { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000 }
.scGridHeaderFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridFooter { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000 }
.scGridFooterFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridObjectOdd { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scGridBlockBg { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-width: 1px; border-style: solid; border-top-color: #e7e7e7; border-bottom-color: #e7e7e7; border-left-color: #e7e7e7 }
.scGridBlockLineBg { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF; border-width: 1px; border-style: solid }
.scGridBlockSpaceBg { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-width: 1px; border-style: solid; border-left-color: #e7e7e7; border-right-color: #e7e7e7 }
.scGridBlock { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-width: 1px; border-style: solid; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px 4px; text-decoration: none }
.scGridBlockFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridBlockLink { color: #000000; text-decoration: underline }
.scGridBlockAlign { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridTotal { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px }
.scGridTotalFont { color: #000000; font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; padding: 8px 10px; text-decoration: none }
.scGridSubtotal { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px 0 }
.scGridSubtotalFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 8px 10px; text-decoration: none }
.scGridFieldEven { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100) }
.scGridFieldEvenFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 10px; text-decoration: none; border-color: #000000; border-style: solid; border-width: 1px 1px 1px 1px }
.scGridFieldEvenVert { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px 1px 1px 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 10px; text-decoration: none }
.scGridFieldEvenLink { color: #000000; text-decoration: none }
.scGridFieldOdd { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100) }
.scGridFieldOddFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 10px; text-decoration: none; border-color: #000000; border-style: solid; border-width: 1px 1px 1px 1px }
.scGridFieldOddVert { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 1px 1px 1px 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 10px; text-decoration: none }
.scGridFieldOddLink { color: #000000; text-decoration: none }
.scGridFieldClick { background-color: #FFFFFF; border-color: #000000; border-style: solid; border-width: 1px 1px 1px 1px }
.scGridFieldOver { background-color: #FFFFFF }
.scGridLabel { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100) }
.scGridLabelVert { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-color: #000000; border-style: solid; border-width: 0 0 0 0; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 10px 5px; text-decoration: none; vertical-align: middle }
.scGridLabelFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 10px 5px; text-decoration: none; vertical-align: middle; border-color: #000000; border-style: solid; border-width: 0 0 0 0 }
.scGridLabelLink { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scGridTabela { background-color: #FFFFFF; background-image: url(../../img/scriptcase__NM__); opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px }
.TB_overlayBG { background-color: #FFFFFF }
#TB_window { border-color: #000000; border-style: solid; border-width: 1px 1px 2px 1px }
.scBtnPassField { margin: 5px 2px }
