.scTabPage { background-color: #3D3D3F; opacity: 1; filter: alpha(opacity=100) }
.scTabTable { background-color: #f9f9f9; opacity: 1; filter: alpha(opacity=100); border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px }
.scTabTableApls { border-width: 0 }
.scTabLine { background-color: #f9f9f9; background-position: bottom center; opacity: 1; filter: alpha(opacity=100); border-color: #EBE9E9; border-width: 0; width: 100%; margin: 0; padding: 10px 0 2px 0; list-style-type: none }
.scTabHeader { opacity: 1; filter: alpha(opacity=100) }
.scTabHeaderFont { color: #96281B; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0; spacing: 1px; text-decoration: none }
.scTabActive { list-style: none; float: left; position: relative; top: 0; background-color: #D24D57; opacity: 1; filter: alpha(opacity=100); border-width: 1px; border-color: #D24D57; border-style: solid; border-collapse: collapse; padding: 4px 15px 4px 15px; margin: 2px; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; display: inline; background: -moz-linear-gradient(top,  #D24D57 60%, #FFFFFF 120%); background: -webkit-gradient(linear, left bottom, left top, color-stop(60%,#D24D57), color-stop(120%,#FFFFFF)); background: -webkit-linear-gradient(top,  #D24D57 60% ,#FFFFFF 120%); background: -o-linear-gradient(top,  #D24D57 60%, #FFFFFF 120%); background: -ms-linear-gradient(top,  #D24D57 60%, #FFFFFF 120%); background: linear-gradient(to top,  #D24D57 60%, #FFFFFF 120%) }
.scTabActive a { color: #fff; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; font-style: normal }
.scTabInactive { list-style: none; float: left; position: relative; top: 0; background-color: #D4D4D4; opacity: 1; filter: alpha(opacity=100); border-width: 1px 1px 1px 1px; border-color: #D4D4D4; border-style: solid; border-collapse: collapse; padding: 4px 15px 4px 15px; margin: 2px; height: 17px; min-height: 17; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; display: inline; background: -moz-linear-gradient(top,  #D4D4D4 60%, #FFFFFF 120%); background: -webkit-gradient(linear, left bottom, left top, color-stop(60%,#D4D4D4), color-stop(120%,#FFFFFF)); background: -webkit-linear-gradient(top,  #D4D4D4 60% ,#FFFFFF 120%); background: -o-linear-gradient(top,  #D4D4D4 60%, #FFFFFF 120%); background: -ms-linear-gradient(top,  #D4D4D4 60%, #FFFFFF 120%); background: linear-gradient(to top,  #D4D4D4 60%, #FFFFFF 120%) }
.scTabInactive a { color: #333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; font-style: normal }
.scTabActiveLink, .scTabActiveLink a { color: #444444; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: underline; padding: 2px; margin: 2px; display: inline }
.scTabInactiveLink, .scTabInactiveLink a { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: none; padding: 2px; margin: 2px; display: inline }
.scTab_space_wi { width: 1px }
.scTab_space_he { height: 1px }
