.scCalendarPage { background-color: #F9F9F9; opacity: 1; filter: alpha(opacity=100) }
.scCalendarBorder { background-color: #f5f5f5; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; margin: 0 }
.scCalendarBorderPadding { padding: 0 }
.scCalendarToolbar { background-color: #D24D57; background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100); border-color: #D24D57; border-style: none; border-width: 1px }
.scCalendarToolbarPadding { padding: 1px }
.scCalendarInput { opacity: 1; filter: alpha(opacity=100); border-color: #CCCCCC; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: none }
.scCalendarTabela { background-color: #f5f5f5; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px }
.scCalendarWeekday { background-color: #fff; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 0 0 1px 0; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; padding: 1px; text-decoration: none }
.scCalendarMonthday { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; padding: 2px; text-decoration: none }
.scCalendarMonthdayFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: none }
.scCalendarSelectedday { background-color: #C4D8F0; opacity: 1; filter: alpha(opacity=100); border-color: #999; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; padding: 0 3px 0 3px; text-decoration: none }
.ui-datepicker-trigger { vertical-align: middle; margin: 2px }
.ui-datepicker { display: none }
.ui-datepicker .ui-datepicker-header { background-color: #D24D57; background-image: none; background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100); padding: 0 }
.ui-datepicker .ui-state-default { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-align: right; text-decoration: none }
.ui-datepicker .ui-state-active { background-color: #C4D8F0; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-align: center; text-decoration: none }
