.scMenuLine { opacity: 1; filter: alpha(opacity=100) }
.scMenuToolbar { background-color: #FFF; opacity: 1; filter: alpha(opacity=100); border-style: none; border-width: 0; padding: 2px; margin: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scMenuToolbarPadding { padding: 2px }
.scMenuIframe { background-color: #D9EAF0; opacity: 1; filter: alpha(opacity=100); border-width: 0; width: 100%; height: 100% }
.scMenuHTable { background-color: #ffffff; opacity: 1; filter: alpha(opacity=100) }
.scMenuHTableCss { background-color: #FFF; opacity: 1; filter: alpha(opacity=100) }
.scMenuHHeader { background-color: #65a3b8; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scMenuHHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0; text-decoration: none }
.scMenuHFooter { background-color: #65a3b8; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scMenuHFooterFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scMenuHItem { background-color: #66B9D5; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; color: #FFF; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHItemDisabled { background-color: #66B9D5; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; color: #C0C0C0; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHItemOver { background-color: #FFFFFF; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; color: #000000; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHSubItem { font-family: Arial, sans-serif; font-size: 13px; color: #000000; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHSubItemDisabled { font-family: Arial, sans-serif; font-size: 13px; color: #C0C0C0; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHSubItemOver { background-color: #F3F7FB; font-family: Arial, sans-serif; font-size: 13px; color: #000000; padding: 5px 5px; text-decoration: none; font-style: normal }
