.scTabPage { background-color: #D9EAF0; opacity: 1; filter: alpha(opacity=100) }
.scTabTable { background-color: #ffffff; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scTabTableApls { border-color: #acacac; border-style: solid; border-width: 1px; border-collapse: collapse }
.scTabLine { background-color: #fff; opacity: 1; filter: alpha(opacity=100); border-color: #77A3B3; border-style: solid; border-width: 0 0 3px 0; width: 100%; margin: 0; padding: 10px 0 0 0; list-style-type: none }
.scTabHeader { background-color: #65a3b8; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scTabHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0; spacing: 1px; text-decoration: none; vertical-align: middle }
.scTabActive { list-style: none; float: left; position: relative; top: 0; background-color: #77A3B3; opacity: 1; filter: alpha(opacity=100); border-width: 1px 1px 0 1px; border-color: #AFC9E9; border-style: solid; border-collapse: collapse; padding: 2px 15px 2px 15px; margin: 2px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; display: inline; background: -moz-linear-gradient(top,  #77A3B3 60%, #FFFFFF 120%); background: -webkit-gradient(linear, left bottom, left top, color-stop(60%,#77A3B3), color-stop(120%,#FFFFFF)); background: -webkit-linear-gradient(top,  #77A3B3 60% ,#FFFFFF 120%); background: -o-linear-gradient(top,  #77A3B3 60%, #FFFFFF 120%); background: -ms-linear-gradient(top,  #77A3B3 60%, #FFFFFF 120%); background: linear-gradient(to top,  #77A3B3 60%, #FFFFFF 120%) }
.scTabActive a { color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; font-style: normal }
.scTabInactive { list-style: none; float: left; position: relative; top: 0; background-color: #C9C9C9; opacity: 1; filter: alpha(opacity=100); border-width: 1px 1px 0 1px; border-color: #ccc; border-style: solid; border-collapse: collapse; padding: 2px 15px 2px 15px; margin: 2px; height: 17px; min-height: 17; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; display: inline; background: -moz-linear-gradient(top,  #C9C9C9 60%, #FFFFFF 120%); background: -webkit-gradient(linear, left bottom, left top, color-stop(60%,#C9C9C9), color-stop(120%,#FFFFFF)); background: -webkit-linear-gradient(top,  #C9C9C9 60% ,#FFFFFF 120%); background: -o-linear-gradient(top,  #C9C9C9 60%, #FFFFFF 120%); background: -ms-linear-gradient(top,  #C9C9C9 60%, #FFFFFF 120%); background: linear-gradient(to top,  #C9C9C9 60%, #FFFFFF 120%) }
.scTabInactive a { color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; font-style: normal }
.scTabActiveLink, .scTabActiveLink a { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: underline; padding: 2px; margin: 2px; display: inline }
.scTabInactiveLink, .scTabInactiveLink a { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: none; padding: 2px; margin: 2px; display: inline }
.scTab_space_wi { width: 1px }
.scTab_space_he { height: 1px }
